<div id="example" class="modal hide fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">×</a>  
<h3>This is a Modal Heading</h3>  
</div>  
<div class="modal-body">  
<!-- <h4>Text in a modal</h4>   -->
<img id='modal_image' alt='no-image' class='col-md-6 col-sm-12'>                
</div>  
<div class="modal-footer">  
<!-- <a href="#" class="btn btn-success">Call to action</a>   -->
<a href="#" class="btn" data-dismiss="modal">Close</a>  
</div>  
</div> 